.event-controls {
  margin: 2rem auto;
  text-align: center;
  padding: 1rem;
  width: 25rem;
  border: 1px solid #5101d1;
  max-width: 80%;
  border-radius: 4px;
}

.event-controls p {
  margin-bottom: 1rem;
}
